<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico"/>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/notes">Notes</a>
            <a href="{{ site.baseurl }}/projects">Projects</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
        <div class="container">
        <footer class="footer">
            <span style="float:left;">Copyleft 2016 © Chris Joy</span>
            <span style="float:right;word-spacing:9px;">
              <a href="https://github.com/cropian">Github</a> 
              <a href="https://linkedin.com/in/cropian">Linkedin</a> 
              <a href="https://twitter.com/realChrisJoy">Twitter</a>
            </span>
        </footer>
        </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
